html { 
  background: url('../img/runReubenrun_bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @media screen and (max-width: 500px) {
    background: white;
  }
}

.content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    // background: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    padding: 15px;
    text-align: center;

    .btn {
        .font-size-rems(100);
        font-family: 'Arial', sans-serif;
        font-weight: 600;
        border: 6px solid @red;
        color: @red;
        background: white;
        .transition(background .25 linear, border .25 linear);
        text-decoration: none;

        &:hover {
            background: @red;
            color: white;
            border-color: white;
        }
    }

    @media screen and (max-width: 500px) {
        position: inherit;
        transform: none;
        width: 100%;
        padding: 0;
        
        img {
            width: 100%;
        }

        .btn {
            .font-size-rems(50);
        }
    }
}

.share-buttons{
    list-style: none;
    text-align: center;
}

.share-buttons li{
    display: inline;
    .font-size-rems(24);
}